<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creat Quiz</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light text-dark">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <h1 class="navbar-brand mb-0 h1 d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="Logo" width="40" height="40" class="me-2">
        Quiz System
      </h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logOut</a>
          </li>
          <li class="nav-item ms-3">
            <button id="modeToggle" class="btn btn-outline-secondary btn-sm">🌙 Dark Mode</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  </h1>
  <h1 class="text-center mt-5">Hello {{user.first_name}} 👋 </h1>
  <p class="text-center mt-3 fs-3">let us start working ,create a new quiz 📚 </p>

  <form id="quizForm">
    {% csrf_token %}
    
   <div class="row align-items-center mb-3 ms-3 ">
  <div class="col-12 col-md-auto mb-2 mb-md-0">
    <label for="quiz_title" class="col-form-label fs-3">Quiz Title :</label>
  </div>
  <div class="col-12 col-md-auto">
    <input type="text" id="quiz_title" class="form-control form-control-sm" style="width: 200px;" name="title" required>
  </div>
</div>


    <div class="mb-3 ms-3">
      <label for="quiz_description" class="form-label fs-3">Quiz Description :</label>
      <textarea name="desc" id="quiz_desc" class="form-control sm" rows="2" required></textarea>
    </div>
    <hr>
    <h3 class="ms-3">Questions :</h3>
    <div class="ms-3 mt-2" id="questions-container"></div>

    
  <div class="d-flex flex-column flex-md-row gap-2 justify-content-center mt-4">
  <button type="button" class="btn btn-success btn-lg" onclick="addQuestion()">+ Add Question</button>
  <button type="submit" class="btn btn-primary btn-lg">Save Quiz</button>
</div>


  </form>


  <script>
    const createQuizURL = "{% url 'create_quiz' %}";
    const homeURL = "{% url 'home' %}";
  </script>
  <script src="{% static 'script/create_quiz.js' %}"></script>
  <script src="{% static 'script/mode.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>