<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Quiz</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light text-dark">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <h1 class="navbar-brand mb-0 h1 d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="Logo" width="40" height="40" class="me-2">
        Quiz System
      </h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logOut</a>
          </li>
          <li class="nav-item ms-3">
            <button id="modeToggle" class="btn btn-outline-secondary btn-sm">🌙 Dark Mode</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="text-center mt-4">
    Welcome back, <strong>{{ user.first_name }}</strong>! <br>
    You're now ready to <span class=" text-warning">EDIT</span><span class=" text-primary"> {{ quiz.title }}</span> Quiz
  </h1>

  <form method="POST">
    {% csrf_token %}
    <div class="row align-items-center mb-3 ms-3">
      <div class="col-12 col-md-auto mb-2 mb-md-0">
        <label for="quiz_title" class="col-form-label fs-5">Quiz Title :</label>
      </div>
      <div class="col-12 col-md-auto">
        <input placeholder="{{quiz.title}}" type="text" id="quiz_title" class="form-control form-control-sm"
          name="title" required>
      </div>
    </div>

    <div class="mb-3 ms-3">
      <label for="quiz_description" class="form-label fs-3">Quiz Description :</label>
      <textarea placeholder="{{quiz.desc}}" name="desc" id="quiz_desc" class="form-control" class="form-control w-100"
        rows="2" required></textarea>
    </div>
    <hr>

    <h3 class="ms-3">Questions :</h3>

    {% for question in question %}
    <div class="ms-3 mt-2 p-3 border rounded">
      <label class="fw-bold">Question {{ forloop.counter }}</label>
      <input type="text" name="q{{ forloop.counter }}_text" value="{{ question.question_text }}"
        class="form-control mb-2 w-50" required>

      <label>Type</label>
      <select name="q{{ forloop.counter }}_type" class="form-select mb-2 w-50"
        onchange="toggleOptions(this, {{ forloop.counter }})">
        <option value="mcq" {% if question.question_type=='mcq' %}selected{% endif %}>MCQ</option>
        <option value="tf" {% if question.question_type=='tf' %}selected{% endif %}>True/False</option>
      </select>

      <!-- MCQ  -->
      <div id="q{{ forloop.counter }}_mcq"
        style="display: {% if question.question_type == 'mcq' %}block{% else %}none{% endif %};">
        {% if question.options %}
        {% for option in question.options %}
        <div class="form-check mb-1 w-50 d-flex align-items-center">
          <input class="form-check-input me-2" type="radio" name="q{{ forloop.counter }}_correct" value="{{ option }}"
            {% if option==question.correct_answer %} checked {% endif %}>
          <input class="form-control w-75" type="text" name="q{{ forloop.parentloop.counter }}_option{{ **forloop.counter** }}">
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <!-- True/False -->
      <div id="q{{ forloop.counter }}_tf"
        style="display: {% if question.question_type == 'tf' %}block{% else %}none{% endif %};">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q{{ forloop.counter }}_correct" value="True" {% if
            question.correct_answer=="True" %} checked {% endif %}>
          <label
            class="form-check-label {% if question.correct_answer == 'True' %}text-success fw-bold{% endif %}">True</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q{{ forloop.counter }}_correct" value="False" {% if
            question.correct_answer=="False" %} checked {% endif %}>
          <label
            class="form-check-label {% if question.correct_answer == 'False' %}text-success fw-bold{% endif %}">False</label>
        </div>
      </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary btn-lg mt-3 d-block w-100 w-md-auto">💾 Save Quiz</button>

  </form>

  <script src="{% static 'script/create_quiz.js' %}"></script>
  <script src="{% static 'script/mode.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>